@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@model IEnumerable<MiniFacebookProject1.Models.Post>

@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="content">Create New Post:</label>
        <textarea id="content" name="content" class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary my-2">Post</button>
</form>

<div>
    @foreach (var post in Model)
    {
        <div>
            <p>@post.User.Email</p>
            <p>@post.Content</p>
            <small>@post.DateOfCreation.ToShortDateString()</small>

            @if (User.Identity.IsAuthenticated && post.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
            {
                <div>
                    <a asp-action="Edit" asp-route-id="@post.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@post.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@post.Id">Delete</a>
                </div>
            }

            <hr />
        </div>
    }
</div>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
                <td>
                    @* <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@item.User.Email</a> *@
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
                @if (User.Identity.IsAuthenticated && item.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
            <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
                }
            
        </tr>
}
    </tbody>
</table>
